@charset "UTF-8";

@import "./materialize.scss";

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

body {
  padding-bottom: 10px;
}
